[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	branch = master
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "plugins/zsh-nvm"]
	path = plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
	branch = master
